body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px"宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;margin:0;padding:0;background-color: #EFECEC} 
a{color:#2d374b;text-decoration:none} 
a:hover{color:#cd0200;text-decoration:underline} 
em{font-style:normal} 
li{list-style:none} 
table{border-collapse:collapse;border-spacing:0} 
p{word-wrap:break-word} 
#container{
	width: 1024px;
	height: 768px;
	background-color: #D5D5D5;
	margin:0 auto;
}
#header{
	width: 1024px;
	height: 50px;
	position: absolute;
	background-color: #FFFFFF;
	color: #76A6AF
}
#log_of{
	position: absolute;
	z-index: 4;
	margin-left:890px;
	margin-top:18px;
}
#log_of a{
	text-decoration: none;
	color: #7DB0BB;
}
#h4{
	position: absolute;
	margin-top: 60px;
	margin-left: 20px;
	color:#7DB0BB;
	letter-spacing: 8px;
}
#h5{
	position: absolute;
	margin-top: 65px;
	margin-left: 590px;
	color:#7DB0BB;
	letter-spacing: 8px;
}
#user_data{
	position: absolute;
	margin-top: 350px;
	margin-left: 45px;
	color:#7DB0BB;
	letter-spacing: 10px;
}
#text_data{
	position: absolute;
	margin-top: 350px;
	margin-left: 930px;
	color:#7DB0BB;
	letter-spacing: 10px;
}
#triangle-right{
	margin-left: 940px;
	margin-top: 364px;
	position: absolute;
	z-index: 5;
	width: 0;
	height: 0;
    border-top: 20px solid transparent;
    border-left: 40px solid #7DB0BB;
    border-bottom: 20px solid transparent;
}
#triangle-left {
	margin-left: 40px;
	margin-top: 364px;
	position: absolute;
	z-index: 5;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 40px solid #7DB0BB;
    border-bottom: 20px solid transparent;
}
#white_block{
	position: absolute;
	z-index: 5;
	width:724px;
	height:600px;
	margin-left: 150px;
	margin-top: 100px;
	background-color: #FFFFFF;
}
#white_block_1{
	position: absolute;
	z-index: 5;
	width:724px;
	height:500px;
	margin-left: 150px;
	margin-top: 125px;
	background-color: #FFFFFF;
}
#table_1 tr{
	text-align: center;
	height: 40px;
	display:table;
    width:100%;
    table-layout:fixed;
}
#table_1 thead tr{
	color: #7DB0BB;
	letter-spacing: 5px;
	font-weight: 600;
}
#table_1 tbody{
	display:block;
    height:400px;
    overflow-y:scroll;
}
#table_1 thead{
    width: calc( 100% - 1em )
}
#line{
    position: absolute;
    margin-top: 740px;
    width: 1024px;
    height: 2px;
    background-color: #B1ADAD;
}
#user_name{
	width: 90px;
}
#email{
	width: 170px;
}
#last_visit{
	width: 130px;
}
#last_ip{
	width: 130px;
}
#state{
	width: 90px;
}
#action{
	width: 90px;
}
#btn{
	width: 40px;
}
#blue_line{
	width: 724px;
	height: 2px;
	background-color:#7DB0BB;
	margin-top: 10px;
}
#input_search{
	margin-left: 35px;
	margin-top: 10px;
	background-color: #EFEAEA;
	width: 550px;
	float: left;
}
#btn_search{
	margin-left: 40px;
	margin-top: 10px;
	width: 70px;
	float: left;
	background-color: #7DB0BB;
}
#table_2 tr{
	text-align: center;
	height: 40px;
}
#table_2 thead tr{
	color: #7DB0BB;
	letter-spacing: 5px;
	font-weight: 600;
}
#table_2 tbody{
    height:100px;
}
#txt_name{
	width: 60px;
	height: 160px;
	text-align: center;
	line-height: 160px;
	color: #7DB0BB;
	font-weight: 500;
}
#txtarea{
	width:630px;
	height:120px;
	background-color: #EFEAEA
}
#submit{
	margin-left: 575px;
	background-color: #7DB0BB;
}
#txt_tr{
	background-color: #FFFFFF;
}