.individual_blank{
	margin-left: 5px;
	margin-top: 50px;
}
.div_blank{
	width: 66px;
	height: 40px;
	background-color: #F2F2F2;
	margin-left: 328px;
	margin-top: -55px;
}
.div_blank a{
	text-decoration:underline;
	font-size: 32px;
	color: #77B5B4;"
}