@charset "utf-8";
/* CSS Document */
body {
	height: auto;
	width: 100%;
	margin: 0;
}
a:link {
	text-decoration: none;
	color: #CFD5D6;
	font-size: 12px;
}
a:visited {
	text-decoration: none;
	color: #CFD5D6;
	font-size: 12px;
}
a:hover {
	text-decoration: none;
	color: #CFD5D6;
	font-size: 12px;
}
a:active {
	text-decoration: none;
	color: #CFD5D6;
	font-size: 12px;
}
.content {
	width: 1024px;
	min-height: 768px;
	height: auto;
	margin: 0 auto;
}
.left-side {
	width: 340px;
	height: 768px;
	background-image: url(../img/img1.jpg);
	background-size: 340px 768px;
	color: #CFD5D6;
	position: fixed;
	float: left;
}
.l-main {
	height: 100%;
	width: 100%;
	background-color: rgba(51,51,51,0.6);
}
#img1 {
	height: 30px;
	width: 30px;
	margin-left: 6%;
	margin-top: 6%;
}
#img2 {
	height: 120px;
	width: 120px;
	margin: auto;
	margin-top: 25px;
}
#img2 img {
	width: 120px;
	height: 120px;
	border-radius: 70px;
}
#l-text1 {
	text-align: center;
	margin-top: 15px;
}
#l-text2 {
	text-align: center;
	margin-top: 40px;
}
#l-text2 a {
	margin-left: 35px;
}
.right-side {
	width: 684px;
	min-height: 768px;
	height: auto;
	background-color: rgb(242,242,242);
	float: right;
	color: rgb(125,176,198);
}
.r-title {
	position: fixed;
	height: 75px;
	width: 684px;
}
.r-title img {
	width: 62px;
	height: 62px;
	float: right;
	margin-right: 2%;
	margin-top: 1%;
}
#r-button {
	float:left;
	height:50px;
	width: 20px;
	font-size: 12px;
	text-align: center;
	border-style: none;
	background-color: rgb(242,242,242);
	color:  rgb(125,176,198);
	margin-top:10px;
	margin-left:20px;
}
.r-div1{
	height:auto;
	width:370px;
	float:left;
	margin-top:75px;
}
.artical{
	height:205px;
	width:400px;
	margin:auto;
	background-color:white;
	margin-top: 50px;
	margin-left: 140px;
}
#artical-img{
	display:block;
	width:180px;
	height:115px;
	margin:auto;
}
#r-input{
	display:block;
	height:73px;
	width:180px;
	line-height:73px;
	text-align:center;
	border-style:none;
	margin:0 auto;
}
#r-area{
	display:block;
	width:180px;
	min-height:237px;
	margin:auto;
	border-style:none;
	margin-top:20px;
}
.artical2{
	height:450px;
	width:220px;
	margin:auto;
	background-color:white;
	margin-top:70px;
}
.picture{
	height:auto;
	width:200px;
	float:left;
	margin-top:75px;
	margin-left:0;
}
.picture img{
	height:135px;
	width:200px;
	
}
#btn{
	height:auto;
	width:100%;
	color:#333;
	text-align:center;
	font-size:16px;
	border-style:none;
	margin-top:40px;
}
#box{
	display:none;
}
#self_introduce{
	margin-top: 30px;
	width: 340px;
	height: 400px;
    text-align: center;
    font-size: 12px;
}
.name{
    font-size: 18px;
}
.jianjie{
	font-size: 10x;
}
#self_introduce a{
    text-decoration: none;
    
}
.right-side-header{
	width:684px;
	height: 60px;
	position: fixed;
	background-color: #697279;
}
.title{
	margin-left: 100px;
	text-align: center;
	line-height: 30px;
	width: 200px;
	height: 30px;
}
.txt{
	margin-left: 50px;
	margin-top: 20px;
	line-height: 30px;
	width: 300px;
	height: 80px;
	overflow: hidden;
	text-indent: 2em;
}
.black_overlay{  
    display: none;  
    position: absolute;  
    top: 0%;  
    left: auto; 
    width:1024px; 
    height: 768px;
    margin-left: -340px;
    background-color: black;  
    z-index:4;  
    -moz-opacity: 0.7;  
    opacity:.70;  
    filter: alpha(opacity=70);  
}  
.white_content {
	margin-left: 91.5px;
	z-index: 5;
 	position:absolute;
	border:1px solid #ccc;
	background:#EEEEEE; 
	display:none;
	color: #7DB0BB;  
    width:487px;
	height:655px;
}
.white_block{
	margin-top: 50px;
	margin-left: -54.5px;
	z-index: 5;
 	position:absolute;
	border:1px solid #ccc;
	background:#FFFFFF;
	display:none;
	color: #7DB0BB;  
    width:487px;
	height:655px;
}  
#btn{
	width: 30px;
	cursor:pointer;
	font-size: 16px;
	color: #FFFFFF;
	position:absolute;
	margin-left:10px;
	margin-top: 12px;
	text-decoration: none;
}