<style type="text/css">
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0} 
body{font:12px"宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;margin:0;padding:0;background-color: #EFECEC} 
a{color:#2d374b;text-decoration:none} 
a:hover{color:#cd0200;text-decoration:underline} 
em{font-style:normal} 
table{border-collapse:collapse;border-spacing:0} 
.container{
	width: 1024px;
	height: 768px;
	margin: 0 auto;
	background-color: #F2F2F2;
}
.header{
	position: absolute;
	z-index: 3;
	font-size: 16px;
	color: #FFFFFF;
}
.header a{
	text-decoration:none;
	color: #FFFFFF;
}
.input{
	position: absolute;
	margin-top: 270px;
	margin-left: 244.5px;
	width: 535px;
	height: 445px;
	background-color: #FFFFFF;
}
</style>