.login-error {
    height:40px;
    line-height:40px;
    font-size:14px;
    border:1px red solid;
    margin-top:-15px;
    margin-bottom:5px;
    text-align:center;
    font-family:"Hiragino Sans GB", "Microsoft Yahei";
}